{% extends 'engine/base_news.html' %}
{% block title %} Update Author - {{object|title}} - {{ block.super }} {% endblock %}
{% block content %}
	<form action="" enctype="multipart/form-data" method="post">
	{% csrf_token %}
	{% for field in form %}
		<div class="form-row ml-5" style="margin-left:7px;">
			<div class="col-md-3 ">
				{{ field.label }}
				{% if field == field.email %}
				{{field.hiden}}
				{% endif %}
				<p> {{ field }} </p>
			</div>
		</div>	
		{% if field.errors %}
			{% for error in field.errors%}
				<div class="col-md-3 ">
					<div class="alert-danger">
						<p>{{ error }}</p>
					</div>
				</div>
			{% endfor  %}
		{% endif %}
	{% endfor %}
	<input type="submit" values="Update" class="btn btn-primary">
</form>	
		




{% endblock %}

<!-- {% url 'author_update_url' %} -->