{% extends 'engine/base_news.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}

	<div class="row" style="margin-bottom: 300px; margin-top: 180px;">
		<div class="col-md-6 offset-md-3">
			<h3 class="text-center"> Смена пароля </h3>
			<hr>
			<form action="{% url 'change_password_url' %}" method="post" name="change_password">
				{% csrf_token %}
				{% for field in form %}
					<p>
						{{ field.label_tag }}
						{{ field }}						
						{% if field.help_text %}
							{{ field.help_text }}
						{% endif %}
						{% for error in field.errors %}
							<div class="alert-danger">
								{{ error }}
							</div>
						{% endfor %}
					</p>
				{% endfor %}
				<input type="submit" value="Change" class="btn btn-success">
			</form>
		</div>
	</div>
{% endblock %} 