{% extends 'engine/base_news.html' %}
{% block title  %} Login {% endblock %}

{% block content %}

	<div class="row" style="margin-bottom: 300px; margin-top: 180px;">
		<div class="col-md-6 offset-md-3">
			<h3 class="text-center"> Авторизация </h3>
			<hr>
			<form action="{% url 'login_url' %}" method="post" name="login">
				{% csrf_token %}
				{% for field in form %}
					<p>
						{{ field.label_tag }}
						{{ field }}						
						{% if field.help_text %}
							{{ field.help_text }}
						{% endif %}
						{% for error in field.errors %}
							<div class="alert-danger">
								{{ error }}
							</div>
						{% endfor %}
					</p>
				{% endfor %}
				<input type="submit" value="Login" class="btn btn-success">
			</form>
			<p>Or you can login via</p>

			<!-- <li class="google">
    			<a href="{% url 'social:begin' 'google-oauth2' %}">Google+</a>
			</li> -->
			<div class="row">
				<div class="col-md-3">
					<a class="btn btn-outline-dark" href="{% url 'social:begin' 'google-oauth2' %}" role="button" style="text-transform:none">
						<img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
						Login with Google
					</a>
				</div>
			</div>

			<!-- Minified CSS and JS -->
			<link   rel="stylesheet" 
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
			crossorigin="anonymous">
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
			crossorigin="anonymous">
		</script>
		</div>
	</div>


{% endblock %}